---
import { Icon } from "astro-icon/components";
import type { MeasurementLocaleData } from "../../concepts/measurement/locales";
import "../../styles/cards/measurement-card.css";

interface Props {
    href: string;
    locale: MeasurementLocaleData;
    number: string;
}

const { href, locale, number } = Astro.props;
---

<a {href} class="concept-card" data-color="6, 182, 212" data-number={number}>
    <div
        class="card-glow"
        style="background: radial-gradient(circle at center, rgb(6 182 212), transparent 70%);"
    >
    </div>

    <div class="card-content">
        <div class="card-icon-container">
            <Icon name="mdi:ruler" class="card-icon" />
        </div>

        <div class="card-text-container">
            <h2 class="card-title">{locale.cardTitle}</h2>
            <p class="card-subtitle">{locale.cardSubtitle}</p>

            <div class="card-line"></div>

            <p class="card-desc">"{locale.cardDescription}"</p>
        </div>
    </div>

    <div class="card-border"></div>
</a>
